{% extends '../base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to TheHRClerk!</h1>
    <p class="lead">Welcome to TheHRClerk! For HR Professionals, managing personnel records can be daunting, tedious and repetitive.
        This project aims to automate low-level tasks including, but not limited to updating trackers, filling out forms, generating
        templates and creating certificates.</p>
    <hr class="my-4">
    <p> This project is still on its way to completion. To track its progress, click the following link. </p>
    <a class="btn btn-primary btn-lg" href="https://github.com/jerryarciaga/TheHRClerk" role="button">Learn more</a>
  </div>
{% endblock %}