{% extends '../base.html' %}

{% block title %} TheHRClerk | Sign Up{% endblock %}

{% block content %}
<h1 class="lead display-4">Sign Up</h1>
<div class="row">
    <div class="col-sm">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}<br>{{ field }}<br>
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
    <div class="col-sm">
        <h1 class="lead display-4">Sign up to use the latest features of TheHRClerk</h1>
        <p>This is where I would put different types of accounts,
        and what each one of them does.</p>
    </div>
</div>
{% endblock %}
