{% extends '../base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{ user.profile.rank }} {{ user.last_name }} | Update Profile
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ profile_form.rank|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ user_form.first_name|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ profile_form.middle_name|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ user_form.last_name|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ profile_form.unit|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ user_form.username|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ user_form.email|as_crispy_field }}
                </div>
            </div>
            <div class="form-row"></div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
    <div class="col-3"></div>
    <div class="col-3">
        <a href="#" class="list-group-item list-group-item-action">Change Password</a>
        <a href="#" class="list-group-item list-group-item-action">Request for Access</a>
        <a href="#" class="list-group-item list-group-item-action">Remove Account</a>
    </div>
</div>
{% endblock %}
