<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>TheHRClerk{% block title %}{% endblock %}</title>

        <link rel='stylesheet' href="{% static 'css/bootstrap.css' %}">
        <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">TheHRClerk</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tools and Apps
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Actions</a>
                    <a class="dropdown-item" href="{% url 'awards:home' %}">Awards</a>
                    <a class="dropdown-item" href="#">Leave</a>
                    <a class="dropdown-item" href="#">Finance</a>
                    <a class="dropdown-item" href="#">Promotions</a>
                    <a class="dropdown-item" href="#">Strength Management</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>

        <div class="container">
        {% block content %}{% endblock %}
        </div>
        
        <script src="{% static 'js/jquery-3.0.0.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
